.header__container{
    display: flex;
    flex-direction: column;
    background-color: #5EAE53;
    padding: 24px 150px 24px 150px;
    color: #fff;
    max-width: 1500px;
    margin: 0;
}

.header__mainTitle {
    margin-bottom: 50px;
}

.header__nav{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
}

.header__menu {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.header__contentContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header__content {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 72px;
    width: 50%;
}

.header__image{
    width: 50%;
}

h1{
    font-size: 56px;
    margin: 0;
}

.header__container h3 {
    margin: 0;
    margin-bottom: 150px;
}

h6 {
    font-family: 'Caveat', cursive;
    color: #F6B76C;
    font-size: 50px;
    margin: 0;
}